body {
    background-image: url('https://www.desktopbackground.org/download/1920x1080/2014/01/15/701597_zen-mood-bokeh-garden-buddhism-religion-wallpapers_2880x1800_h.jpg');
    background-repeat: no-repeat;
  }
  h1 {
    margin-top: 20px;
  }
  .quote {
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    margin: 40px auto;
  }
  #text {
    text-align: center;
    font-size: 35px;
    font-style: italic;
  }
  #author {
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
  }
  #new-quote {
    background-color: rgb(255, 204, 102);
    border-style: none; 
  }
  #tweet-quote {
    color: white;
    background-color: rgb(102, 179, 255);
    outline: none;
  }
  .btns {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  button {
    margin-right: 10px;
  }